{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <p>Welcome to your dashboard</p>
  <p>Wlasnie licytujesz:</p>
  <div id="auctions">
    <p>Wczytywanie aktywnych aukcji</p>
  </div>
{% endblock %}

{% block scripts %}
<script src='{% static "js/jquery-3.2.1.min.js" %}'></script>

<script src='{% static "js/jquery-1.11.3.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/dashboard.js" %}'></script>
{% endblock %}
